services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  backend: 
    build: ./backend
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/db
    restart: always
    ports:
      - 3001:3001
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - db

volumes:
  db_data:
    driver: local